<p><%= flash[:alert] %></p>
<h2>회원 가입하기</h2>

<form action="/users/signup_complete" method="post">
	<p>ID : <input type="text" name="username"></p>
	<p>PW : <input type="password" name="password"></p>
	<p>rePW : <input type="password" name="retype_password"></p>
	<input type="submit" value="가입">
</form>

<p>Find me in app/views/users/signup.html.erb</p>
